.lang-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #222;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #DDD;
  transition: background 0.3s;
}

.lang-selector:hover {
  background-color: #F0F0F0;
}

.lang-selector.lang-icon {
  justify-content: center;
}

.lang-text {
  font-size: 14px;
  font-weight: bold;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222; 
}

.lang-dropdown {
  background: #FFFFFF;
  color: #222; 
  border: 0px solid #CCC;
  padding: 0px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.lang-dropdown:hover {
  background: #ffffff; 
}

.lang-dropdown:focus {
  outline: none;
  border-color: #BF0413;
}

.lang-dropdown option {
  color: black;
}

.lang-icon {
  font-size: 20px; 
  cursor: pointer;
  color: #222;
  transition: color 0.3s ease-in-out;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #222;
  transition: color 0.3s;
}

.lang-icon:hover {
  color: #BF0413;
}
