.sidebar-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.sidebar {
  background-color: #BF0413;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 2px;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 50px;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.sidebar-header.closed {
  justify-content: center;
}

.sidebar .toggle-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-right: 16px;
  flex-grow: 1;
  margin-top: 1px; 
}

.sidebar-items-title {
  text-align: left;
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.sidebar-items-title.closed {
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  width: 100%; 
  padding: 0; 
  white-space: nowrap;
}


.sidebar-settings-section {
  margin-top: 10px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.error-message {
  color: white;
  font-size: 14px;
  text-align: center;
}